html {
    background-image: url('./assets/fondo.jpg');
    background-size: cover;
}

body {
    background: none;
    color: white;
    -webkit-text-stroke: 1px black;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 2rem;
}

form label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

form input {
    margin-right: 2rem
}

.resultado-busqueda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-formulario {
    color: red;
    font-weight: bold;
}
